@model IEnumerable<Messenger.Models.UserViewModels>
@{
    ViewBag.Title = "Index";
    int currUser = int.Parse(Request.QueryString["User"]);
}

<link href="~/Content/testing.css" rel="stylesheet" />


<div id="Container">
    <div id="UserContainer">
        <div id="photo">
            <img id="UserImg" src="~/Images/Profile/@ViewBag.CurrentUserPhoto" />
        </div>
        <div id="UserInfo" >
            <h3>@ViewBag.CurrentUserName</h3>
            <small>(@ViewBag.CurrentUserConnectionState)</small>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="ConnectionStatusOpt" data-opt="Online">Online</a></li>
                        <li><a href="#" class="ConnectionStatusOpt" data-opt="Offline">Offline</a></li>
                        <li><a href="#" class="ConnectionStatusOpt" data-opt="Busy">Busy</a></li>
                    </ul>
                </div>
            <br />
            <br />
            <br />
            <p>@ViewBag.CurrentUserMessageStatus</p>
        </div>
    </div>
    <div id="userTools">
        <input id="FindContact" type="text" class="form-control" placeholder="Find a contact or more" />
        <img id="addFriend" src="~/Images/Resources/add-user.png" />
        <img src="~/Images/Resources/UI_Blue_2_of_3_1-48.png" />
        <img id="Personalize" src="~/Images/Resources/gear_64.png" />
        <a href="/account/login"><img src="~/Images/Resources/logout-48.png" /></a>
    </div>
    <div id="FriendList">
        <h3>Friends</h3>
        <div class="list-group">
            @foreach (var friend in Model)
            {
                <a id="lf-name" class = "list-group-item", target = "_blank" href="/Conversation/Friend?userFrom=@ViewBag.CurrentUser&userTo=@friend.UserId">@string.Format("{0} {1} - ", friend.FirstName, friend.LastName) <small id="lf-status">@Helper.getFriendMessageStatus(friend.UserId)</small></a>
            }
        </div>
    </div>
</div>



@using (Html.BeginForm("SetConnectionStatus", "Dashboard", FormMethod.Post, new { id = "ConnectionStatusUpdater" }))
{
    @Html.Hidden("user", int.Parse(Request.QueryString["User"]))
    @Html.Hidden("status")
}





<div class="modal fade" id="dialogs">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Add Friend</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddFriend", "Dashboard", FormMethod.Post, new { id="addFriendForm"}))
                {
                    @Html.AntiForgeryToken();
                    @Html.Hidden("currentUser", Convert.ToInt32(Request.QueryString["User"]))
                    <input type="email" name="email" id="email" class="form-control" placeholder="Type Friend's email" style="width:100%;min-width:100%;" />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
                <button type="button" class="btn btn-primary" id="addFriendButton">Add</button>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="dialogsPersonalization">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Personalization</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SetPersonalization", "Dashboard", new { currentUser = currUser }, FormMethod.Post, new { id="perForm", enctype="multipart/form-data" }))
                {
                    <label for="PerMessageStatus" class="control-label">Message Status</label>
                    <input type="text" name="PerMessageStatus" id="PerMessageStatus" class="form-control" value="@ViewBag.CurrentUserMessageStatus" />
                    <br />
                    <label for="PerProfilePhoto">Photo Profile</label>
                    <input type="file" name="PerProfilePhoto" id="PerProfilePhoto" />
                    <br />
                    <label for="PerBackground">Background</label>
                    <input type="file" name="PerBackground" id="PerBackground" />
                    <br />
                    <label for="PerColor">Theme color</label>
                    <input type="color" name="PerColor" id="PerColor" class="form-control" value="@ViewBag.CurrentUserColor" />
                    <br />
                    <label for="PerColorText">Text color</label>
                    <input type="color" name="PerColorText" id="PerColorText" class="form-control" value="@ViewBag.CurrentUserTextColor" />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="button" class="btn btn-primary" id="SetPer">Update</button>
            </div>
        </div>
    </div>
</div>















<style>
   body {
        padding-top: 10px;
        background: linear-gradient(@ViewBag.CurrentUserColor, white);
        background-repeat:no-repeat;
        height: 185px;
        width: 100%;
    }

    #UserInfo, #photo{
        float: left;
    }


    #UserInfo h3, #UserInfo small, .btn-group, #UserInfo p {
        float: left;
        color: @ViewBag.CurrentUserTextColor;
    }


    #UserInfo small{
        margin-top: 25px;
        margin-left: 10px;
        font-size: 13px;
    }

    #UserInfo .btn-group{
        margin-top: 22px;
        margin-left: 5px;
    }

    #UserInfo p{
        float: none;
    }

    

    #FriendList{
        float: none;
    }

    #FindContact{

        max-width: 1000px;
        width: 82%;

        border: 1px solid black;
        float: left;
    }

    #userTools{
        border-top-color: #dbe9ff;
        border-top-style: solid;
        border-top-width: 1px;
        border-bottom-color: #dbe9ff;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 55px;
        width: 100%;
    }

    #userTools img{
        float: left;
        margin-top: 2px;
        margin-left: 15px;
        width: 30px;
    }


    #FriendList
    {
        border: 1px solid #dbe9ff;
        border-top-width: 0;
        width: 100%;
        height: 500px;
    }


    #UserImg{
    width: 90px;
    height: 90px;
    margin-left: 5px;

    border-radius: 5px;
    border: 3px solid @ViewBag.CurrentUserConnectionStateColor;
    box-shadow: 0 0 5px black; 	
}

#photo { 
    width: 90px;
    height: 90px;
    margin-top: 12px;
    margin-right: 10px;
}

#Container{
    display: block;
    min-width: 1000px;
}

#UserContainer{
    width: 100%;
    min-height: 120px;
    display: block;
}

 #UserInfo {
    width: 500px;
    margin-top: 10px;
    margin-left: 10px;
}

 #lf-name{
     color: black;
 }

 #lf-status{
     color: gray;
 }


 #AvailableOptions{
     width: 20px;
     margin-left: 0;
     margin-top: 5px;
 }

 

</style>





<script>
    $(function () {

        $("#Personalize").click(function () {
            $("#dialogsPersonalization").modal('show');
        });

        $("#SetPer").click(function () {
            $("#perForm").submit();
        });





        $("#addFriend").click(function () {
            $("#dialogs").modal('show');
        });

        $("#addFriendButton").click(function () {
            $("#addFriendForm").submit();
        });




        $(".ConnectionStatusOpt").click(function () {
            var optChoosen = $(this).data('opt');
            $("#status").val(optChoosen);
            $("#ConnectionStatusUpdater").submit();
        });




    });
</script>